<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Vizard</title>

		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
		<link rel="stylesheet" href="/s/css/1140.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/s/css/reset.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/s/css/view.css" type="text/css" media="screen" />
		
		<script src="/s/js/css3-mediaqueries.js"></script>
		<script src='/s/js/jquery.js'></script>
		<script src='/s/js/fader.js'></script>
		<script src="/s/js/highcharts.src.js"></script>
		<script src='/s/js/ejs.js'></script>
		<script src='/s/js/niejs.js'></script>
		<script src='/s/js/vizard.js'></script>
		<script src='/s/js/graph.js'></script>
		
		<script>
		var hash = location.pathname.replace('/g', '').substring(1);
		
		var parseId = function(url) {
		    matches = url.match(/\/g\/([^?#\/]+)/);
		    if (matches) {
		        return matches[1];
		    }
		    return '';
		};

		var load = function(force) {
			var go = function() {
				$.getJSON('http://109.74.206.232/v/'+hash+'?window=30m', function(data) {
					for (var name in data) {
						var prop = data[name];
						prop.title = name;
						name = name.replace(/\s+/g,'-');
						prop.name = name;
						var id = update(prop.type, name, prop);
						

						switch(prop.type) {
							case 'number':
								
								updateChart(prop.line, name, 'line', id);
							break;
							case 'string':
								if(prop.bar) {
									updateChart(prop.bar, name, 'bar', id);
								}
								if(prop.trend) {
									updateChart(prop.trend, name, 'trend', id.replace('-chart-','-trend-'));	
								}
							break;
							case 'boolean':
								updateChart(prop.choice, name, 'pie', id);
							break;
							default:
							break;
						}
					}
					setTimeout(load, 1000);
				});
			}
			if (force) {
				go();
				return;
			}
			$.get('http://109.74.206.232/n/'+hash, go);
		};

		var update = function(type, name, data) {
			data.vizardid = parseId(location.pathname);
			data.vizardsearch = location.search || '';

			if(!$('#' + type + '-' + name).size()) {
				$('#stats').append(render('#' + type, data));
			}
			// update widget

			if(type === 'string' && data.bar) {
				$('#' + type + '-' + name + ' .widget').html(render('#' + type + '-widget',data));
			}
			if(type !== 'string') {
				$('#' + type + '-' + name + ' .widget').html(render('#' + type + '-widget',data));
			}

			return  type + '-chart-' + name;
		};

		$(function() {
			var loc = location.href.replace('/g/','/r/');
			
			$('#rawdata').prop('href',loc);
			load(true);
		});
		</script>

		<!-- templates -->
		<script type='test/ejs' id='number-widget'>
		<div class='number-widget'>
			<div class='number-value' style='color: <%= fade(trend, "#AE324C", "#353432", "#94BA65") %>;'><%= total %></div>
			<div class='number-stats'>
				<div class='stat-row'>
					<div class='stat-cell'>max <%= max.value.toFixed(2) %><br><span class='stat-date'><%= new Date(max.time).toUTCString() %></span></div>
					<div class='stat-cell'>avg <%= average.toFixed(2) %></div>
				</div>
				<div class='stat-row'>
					<div class='stat-cell'>min <%= min.value.toFixed(2) %><br><span class='stat-date'><%= new Date(min.time).toUTCString() %></span></div>
					<div class='stat-cell'>stdv <%= std.toFixed(2) %></div>
				</div>
			</div>
		</div>
		</script>
		<script type='test/ejs' id='number'>
		<div class="container" id='number-<%= name %>'>
			<div class="row">
				<div class='twelevecol last'>
					<p style='text-align:left'><%= title %> - <a href='/v/<%=vizardid%>/<%=name%><%=vizardsearch%>'>acumulated data</a></p>
				</div>
			</div>
			<div class="row">
				<div class="eightcol chart" id='number-chart-<%= name %>'></div>
				<div class="fourcol last widget"></div>
			</div>
		</div>
		</script>

		<script type='text/ejs' id='string-widget'>
		<table class="string-widget">
			<tbody>
				<%
				var tableData = [];
				var total = 0;

				for (var value in bar) {
					tableData.push({
						value:value,
						count:bar[value]
					});
					total += bar[value];
				}
				if (total <= 0) {
					total = 1;
				}

				tableData.sort(columnSort);

				for (var i = 0; i < tableData.length; i++) {
					var row = tableData[i];
					row.color = "#353432";

					row.percentage = (row.count / total * 100).toFixed(0) + '%';
					
					var trendCount = 0;
					
					if (typeof trend !== 'undefined') {
						trendCount = trend[row.value] || 0;					
					}

					row.color = fade(trendCount / row.count, "#AE324C", "#353432", "#94BA65");

					%>
				<tr><td class="string-value" style="color: <%= row.color %>;"><%= row.value %></td><td class="string-count"><%= row.count %></td><td class="string-percentage"><%= row.percentage %></td></tr>
				<% } %>
			</tbody>
		</table>
		</script>
		<script type='text/ejs' id='string'>
		<div class="container" id='string-<%= name %>'>
			<div class="row">
				<div class='twelevecol last'>
					<p style='text-align:left'><%= title %> - <a href='/v/<%=vizardid%>/<%=name%><%=vizardsearch%>'>acumulated data</a></p>
				</div>
			</div>
			<div class="row">
				<% if (typeof trend === 'undefined') {%>
					<div class="eightcol chart" id='string-chart-<%= name %>'></div>
				<%} else if (typeof bar === 'undefined') {%>
					<div class="twelvecol chart" id='string-trend-<%= name %>'></div>
				<%} else {%>
					<div class="fivecol chart" id='string-chart-<%= name %>'></div>
					<div class="threecol chart" id='string-trend-<%= name %>'></div>
				<% }
				if (typeof bar !== 'undefined') {%>
				<div class="fourcol last widget"></div>
				<% } %>

			</div>
		</div>
		</script>
		
		<script type='test/ejs' id='boolean-widget'>
		<div class='boolean-widget'>
			<div class='boolean-stats'>
				<div class='stat-row'>
					<div class='stat-cell boolean-value'><%= choice.yes > choice.no ? 'YES' : 'NO' %></div>
					<div class='stat-cell'><%= choice.yes > choice.no ? choice.yes : choice.no %>
					<span class="stat-percentage"><%= ((choice.yes > choice.no ? choice.yes : choice.no) / (choice.yes + choice.no) * 100).toFixed(0) %>%</span></div>
				</div>
				<div class='stat-row'>
					<div class='stat-cell' style='width: 40px'><%= choice.yes > choice.no ? 'NO' : 'YES' %></div>
					<div class='stat-cell'><%= choice.yes > choice.no ? choice.no : choice.yes %>
					<span class="stat-percentage"><%= ((choice.yes > choice.no ? choice.no : choice.yes) / (choice.yes + choice.no) * 100).toFixed(0) %>%</span></div>
				</div>
			</div>
		</div>
		</script>
		<script type='test/ejs' id='boolean'>
		<div class="container" id='boolean-<%= name %>'>
			<div class="row">
				<div class='twelevecol last'>
					<p style='text-align:left'><%= title %> - <a href='/v/<%=vizardid%>/<%=name%><%=vizardsearch%>'>acumulated data</a></p>
				</div>
			</div>
			<div class="row">
				<div class="eightcol chart" id='boolean-chart-<%= name %>'></div>
				<div class="fourcol last widget"></div>
			</div>
		</div>
		</script>
	</head>
	<body>
		<div class="container head">
			<div class="row" style='margin-top: 6px;'>
				<div class='twelvecol last'>
					<div style='text-align:right; padding-right:20px'><a id='rawdata' href=''>Raw data</a></div>
				</div>
			</div>
		</div>
		<div id='stats'>
		</div>
	</body>
</html>