<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Vizard</title>

		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
		<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/view.css" type="text/css" media="screen" />
		
		<script src="js/css3-mediaqueries.js"></script>
		<script src='js/jquery.js'></script>
		<script src='js/fader.js'></script>
		<script src="js/highcharts.src.js"></script>
		<script src='js/ejs.js'></script>
		<script src='js/niejs.js'></script>
		<script src='js/vizard.js'></script>
		<script src='js/graph.js'></script>
		
		<script>
		var load = function(url) {
			$.getJSON(url, function(data) {
				for (var name in data) {
					var prop = data[name];
					/*for (var type in data[name]) {
						console.log(name, type)
						if (data[name][type]) {
							insertData(data[name][type], name, type);
						}
					}*/

					var id = append(prop.type, name, prop);
					console.log(id);
					switch(prop.type) {
						case 'number':
							update(prop.line, name, 'line', id);
						break;
						case 'string':
							update(prop.bar, name, 'bar', id);
						break;
						case 'boolean':
							update(prop.choice, name, 'pie', id);
						break;
						default:
						break;
					}
				}
			});
		};

		var append = function(type, name, data) {
			if(!$('#' + type + '-' + name).size()) {
				console.log(type,data);
				console.log(render('#' + type, data));
				$('#stats').append(render('#' + type, data));
			}
			
			return  type + '-chart-' + name;
		};

		$(function() {
			load('http://10.0.1.66:8008/v/freeall?period=1s&window=5h');
		});
		</script>

		<!-- templates -->
		<script type='test/ejs' id='number'>
		<div class="container" id='number-<%= name %>'>
			<div class="row">
				<div class='twelevecol last'>
					<p style='text-align:left'><%= name %></p>
				</div>
			</div>
			<div class="row">
				<div class="eightcol chart" id='number-chart-<%= name %>'></div>
				<div class="fourcol last">
					<div class='number-widget'>			
						<div class='number-value'>98</div>
							<div class='number-stats'>
								<div class='stat-row'>
									<div class='stat-cell'>high <%= max.value %><br>date</div>
									<div class='stat-cell'>avrg <%= average %></div>
								</div>
								<div style='clear:both'></div>
								<div class='stat-row'>
									<div class='stat-cell'>low <%= min.value %><br>date</div>
									<div class='stat-cell'>std <%= std %></div>
								</div>
								<div style='clear:both'></div>
							</div>
							<div style='clear:both'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</script>

		<script type='test/ejs' id='string'>
		<div class="container" id='string-<%= name %>'>
			<div class="row">
				<div class='twelevecol last'>
					<p style='text-align:left'><%= name %></p>
				</div>
			</div>
			<div class="row">
				<div class="eightcol chart" id='string-chart-<%= name %>'></div>
				<div class="fourcol last">
				</div>
			</div>
		</div>
		</script>

		<script type='test/ejs' id='boolean'>
		<div class="container" id='boolean-<%= name %>'>
			<div class="row">
				<div class='twelevecol last'>
					<p style='text-align:left'><%= name %></p>
				</div>
			</div>
			<div class="row">
				<div class="eightcol chart" id='boolean-chart-<%= name %>'></div>
				<div class="fourcol last">
				</div>
			</div>
		</div>
		</script>
	</head>
	<body>
		<div id='stats'>
		</div>
		<div id='data'>
		</div>
	</body>
</html>